@model  ExportStudentsData.Models.Student
@{
    Layout = null;
}

<div>
    <h4>Customer</h4>
    <hr />
    <table class="table-striped">
        <tr>
            <td>

                @Html.DisplayNameFor(model => model.StudentName)
            </td>
            <td>
                @Html.DisplayFor(model => model.StudentName)
            </td>
        </tr>
        <tr>
            <td>
                @Html.DisplayNameFor(model => model.FatherName)
            </td>
            <td>
                @Html.DisplayFor(model => model.FatherName)
            </td>
        </tr>
        <tr>
            <td>
                @Html.DisplayNameFor(model => model.CourseName)
            </td>
            <td>
                @Html.DisplayFor(model => model.CourseName)
            </td>
        </tr>
        <tr>
            <td>
                @Html.DisplayNameFor(model => model.BirthDate)
            </td>
            <td>
                @Html.DisplayFor(model => model.BirthDate)
            </td>
        </tr>
        <tr>
            <td>
                @Html.DisplayNameFor(model => model.Email)
            </td>
            <td>
                @Html.DisplayFor(model => model.Email)
            </td>
        </tr>
        <tr>
            <td>
                @Html.DisplayNameFor(model => model.Adrress)
            </td>
            <td>
                @Html.DisplayFor(model => model.Adrress)
             </td>
        </tr>

    </table>
  
           